body {
    font-family: 'Zilla Slab', serif;
/*    background-color: #dba646;*/
}
/* large devices
@media (min-width: 1280px) {
    .container {
       max-width: 1280px;
       padding-left: 0;
       padding-right: 0;
     }
} */
/* extra large devices 
  @media screen and (min-width: 1980px) {
    .container {
      max-width: 1980px;
    }
}*/
.navbar {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    background-color: black;
    min-height: 115px;
    max-height: 120px;
}
.bg-dark {
    background-color: transparent !important;
}
.bg-dark.scrolled {
    background-color: #030A10 !important;
}
.navbar-brand {
/*    left:0;*/
/*    -ms-transform:translate(0);
    transform:translate(0);*/
    opacity:1;
}
.scrolled .navbar-brand {
/*    position:relative;
    left:-100em;
    transition:all 1000ms ease 250ms;*/
/*    -ms-transform:translate(-100em);
    transform:translate(-100em);
    transition:all 1000ms ease 250ms;*/
    position:relative;
    transition:opacity 500ms ease 100ms;
    opacity:0; 
}
.logo {
    position: absolute;
    top: 3.24vh;
    left: 2.604vw;
    height: 170px;
    width: 170px;
 }
.nav-link:hover {
    border-bottom: 1px solid #dba646;
}
@media screen and (max-width: 768px) {
    .logo {
        height: 85px;
        width: 85px;
        position: absolute;
        top: 1.5vh;
        left: 18vw;
    }
}
@media(max-width: 768px){
    .nav-link:hover {
        border-bottom: none;
    }
}
#hero {
    background: url("../images/web-0.jpg") center / cover no-repeat;
    height: 100vh;
    opacity: 1;
    position: relative;
}
.display-1 {
    font-size: 6rem;
    color: #dba646;
    text-align: center;
}
#linea {
    margin-top: 1.823vh;
    width:12.5vw;
    border-bottom: solid white 2px;
}
#address {
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: white;
    margin-top: 20px;
}
#cityAddress {
    font-family: 'Raleway', sans-serif;
    font-size: 0.75em;
    font-weight: 600;
    letter-spacing: 0.85px;
    color: white;
}
@media (max-width: 768px){
    .display-1 {
        font-size: 3.5rem;
    }
}
#tasting {
    padding-top: 40px;
    background-color: #dba646;
    min-height: 220px;
    padding-bottom: 50px;
}
.paella {
    padding-left: 15px;
    padding-right: 15px;
}
#popupSeries {
    padding-top: 8vh;
    padding-bottom: 3vh;
    padding-left: 4vw;
    padding-right: 4vw;
}
#event {
    padding-left: 0px;
    padding-top: 10px;
    padding-right: 5vw;
    min-height: 51.5vh;
    color: #1C3B4D;
}
#lineaEvent {
    border-bottom: 1px solid white;
    width: 75px;
}
 #spEvent {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.85px;
    color: #1C3B4D;
    padding-top: 10px;
    padding-bottom: 45px;
}
#NST {
    font-size: 3.5rem;
    font-weight: 300;
    color: #1C3B4D;
    line-height: normal;
    padding-bottom: 25px;
}
#fechaEvento {
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: white;
    padding-bottom: 15px;
}
#textoEvento {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 1.05rem;
    line-height: normal;
}
#tickets {
    font-size: 2rem;
    font-weight: 500;
}
#lineaTickets {
    border-bottom: 1px solid white;
    width: 100px;
}
#about {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #D6D7C9;
}
#menu {
    background-color: #1C3B4D;
}
#lineaMenu {
    width: 50px;
    color: #dba646;
    padding-bottom: 1.823vh;
}
#puzzle {
    padding-top: 10vh;
    width: 400px;
}
@media(max-width: 576px){
    #puzzle {
        max-width: 440px;
    }
}
@media(max-width: 768px){
    #puzzle {
        max-width: 500px;
    }
}@media(min-width: 768px){
    #puzzle {
        max-width: 260px;
    }
}
@media(min-width: 992px){
    #puzzle {
        max-width: 350px;
    }
}
@media(min-width: 1200px){
    #puzzle {
        max-width: 440px;
    }
}
.textoMenu {
    padding-top: 1.5vw;
    color: white;
}
#drinks {
    padding-top: 9.2vh;
}
ul {
    list-style-type: none;
}
#chef {
    background-color: #D6D7C9;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left:5%;
    padding-right: 5%;
}
#titChef {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    margin-left: 3%;
    margin-top: 3%;
}
#nomChef {
    margin-left: 3%;
    margin-top: 3%;
    font-size: 3.5rem;
}
#kindness {
    font-family: 'Raleway', sans-serif;
    margin-left: 3%;
    color: #dba646;
    font-weight: 600;
}
#descripcion {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
}
#fotoChef {
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 3%;
    max-width: 90%;
}
#contact {
    padding-top: 10%;
    background: url("../images/web-1.jpg") right / cover no-repeat;
    min-height: 30rem;
    padding-right: 30%;
}
#map {
    padding-top: 10px;
    padding-left: 10px;
}
#sketchesofSpain {
    background-color: #dba646;
    padding-top: 15%;
    padding-right: 10%;
    padding-bottom: 15%;
}